* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Comic Sans MS" , sans-serif;
    margin: 0;
    padding: 0;
    background-color: purple;
}

header {
    background-color: black;
    color: white;
    padding: 15px 30px;
}

nav a {
    color: rebeccapurple;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

button{
    color: mediumpurple;
    background: black;
    font-family: "Comic Sans MS" , sans-serif;
    border-radius: 10%;
    padding: 10px;
}
/*Isso deixa o testo sublinhado, desativei para deixar mais bonito*/
button:hover {
    /*text-decoration: underline;*/
}

main {
    padding: 40px;
    max-width: 900px;
    margin: 0 auto;
    background: white;
    margin-top: 20px;
    border-radius: 8px; }

footer {
    text-align: center;
    padding: 15px;
    color: black;
    font-size: 0.9em;
    margin-top: 30px;
}

.card {
    border: 5px solid purple;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 10px;
}
.ajustar_card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

}

.listar_card {
    border: 1px solid purple;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 10px;
    word-break: break-word;
    overflow-wrap: break-word;
}

img{
    margin: 10px;
    border: 2px mediumpurple solid;
    border-radius: 15%;
    max-width: 100px;
    max-height: 100px;
}

button:hover {
  transform: scale(1.1) translateY(-5px);
}

button::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
}

.form-label-nome input,
.form-label-data input,
.form-label textarea,
.form-label select {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 10px;
    font-family: "Comic Sans MS", sans-serif;
    border: 2px solid purple; /* Borda roxa para combinar com seu card */
    border-radius: 20px;       /* Deixa as caixinhas perfeitamente redondas */
    box-sizing: border-box;
}