<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>TaskFlow</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <center><h1 style="margin:0 0 10px 0; color: darkorchid; font-size: 20px;">TaskFlow Corp | Gestão Interna</h1></center>
        <center><nav>
            <a href="{{ url_for('index') }}">Início</a>
            <a href="{{ url_for('criar_atividade') }}">Criar Atividade</a>
            <a href="{{ url_for('listar_atividades') }}">Listar Atividades</a>
            <a href="{{ url_for('pessoa') }}">Perfil Colaborador</a>
        </nav></center>
    </header>

    <main>
        {% block conteudo %}
        {% endblock conteudo %}
    </main>

    <footer>
        <p>&copy; 2026 TaskFlow Corp - Painel Administrativo do Colaborador</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSC11gbtRwmcU2RvhjYf__PM30ArufAe9tjbGWmCPOzTg&s=10">
    </footer>
</body>
</html>