{% extends 'base.html' %}
{% block conteudo %}

<h1>Cadastrar Usuário</h1>
<a class="meu-botao" href="{{url_for('pessoa')}}">Voltar</a>
<div class="card">
    <form action="" method="post">
        <div class="form-label-nome">
                <label>Nome Completo:</label>
                <input type="text" name="nome" class="form-control" placeholder="Ex: Lucas Mendes" required>
            </div>
            <div class="form-label">
                <label>E-mail Corporativo:</label>
                <input type="email" name="email" placeholder="Ex: davi@taskflow.com" required>
            </div>
        </div>
            <div class="form-label">
                <label>Senha de Acesso:</label>
                <input type="password" name="senha" placeholder="Senha segura!" required>
            </div>
            <div class="form-label-data">
                <label>Data de Nascimento:</label>
                <input type="date" name="data_nascimento" required>
            </div>
        </div>

        <button type="submit">Enviar🌐</button>
        <button type="reset">Limpar❌</button>
</div>
{% endblock conteudo %}