{% extends 'base.html' %}
{% block conteudo %}

    <h2>Listagem das atividades</h2>
    <p>Este é o canal interno de atividades.</p>
    <hr>
    <h3>Atividades:</h3>
    <div class="ajustar_card">
        {% for atividade in dados_lista %}
        <div class="listar_card">
                <hr>
                Nome da atividade: {{atividade.nome_atividade}}<br>
                Recursos: {{atividade.recurso_atividade}}<br>
                Data: {{atividade.data_atividade}}<br>
                Categoria: {{atividade.categoria_atividade}}<br>
                Descrição: {{atividade.descricao_atividade}}

                <br><br>
                <a href="{{ url_for('excluir_atividade', indice=loop.index0) }}">
                    <button type="button">Apagar</button>
                </a>
            <hr>
        </div>
        {% endfor %}
    </div>
{% endblock conteudo %}